.friendList {
  position: relative;
  left: 26%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 2000;
  color: darkblue;
  margin-bottom: 100px;
}

.item {
  display: flex;
  gap: 15px;
  padding-left: 200px;
  align-items: center;
  width: 30%;
  background-color: aliceblue;
  box-shadow: inset;
  min-height: 60px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.green {
  background-color: yellowgreen;
}

.red {
  background-color: red;
}
